/*
Theme: MLML Childe
Description: Child theme for thematic for mlml
Author: Matt Katz
Template: thematic
*/



@import url("../thematic/style.css");
/*

blockquote {
	position:relative; 
	padding:50px 15px; 
	margin:1em 0 3em;
	border:10px solid #ccc; 
	text-align:center; 
	color:#333;
	background:#fff; 

	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}
*/

/* creates larger curve */
/*blockquote:before {
	content:""; 
	position:absolute; 
	z-index:10; 
	bottom:-40px; 
	left:250px; 
	width:50px; 
	height:30px;
	border-style:solid; 
	border-width:0 10px 10px 0; 
	border-color:#ccc; 
	background:transparent;

	-moz-border-radius-bottomright:80px 50px;
	-webkit-border-bottom-right-radius:80px 50px;
	border-bottom-right-radius:80px 50px;
}
*/

/* creates smaller curve */
/*blockquote:after {
	content:""; 
	position:absolute; 
	z-index:10; 
	bottom:-40px; 
	left:250px; 
	width:20px; 
	height:30px; 
	border-style:solid; 
	border-width:0 10px 10px 0; 
	border-color:#ccc; 
	background:transparent;

	-moz-border-radius-bottomright:40px 50px; 
	-webkit-border-bottom-right-radius:40px 50px; 
	border-bottom-right-radius:40px 50px; 
}
*/

/* creates a small circle to produce a rounded point where the two curves meet */
/*blockquote>:first-child:before {
	content:""; 
	position:absolute; 
	bottom:-40px; 
	left:245px; 
	width:10px; 
	height:10px;
	background:#ccc;

	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}*/

/* creates a white rectangle to cover part of the oval border*/
/*blockquote>:first-child:after {
	content:""; 
	position:absolute; 
	bottom:-10px; 
	left:276px; 
	width:24px; 
	height:15px; 
	background:#fff;
}*/

/*Cloud Style */

      body{
        background: skyBlue;
        background-image: -moz-radial-gradient(30% 0 0deg, ellipse farthest-corner, white, skyBlue),-moz-linear-gradient(center top , rgba(214, 249, 255, 0) 0%, #3545AD 76%, #040E94 80%, #040E94 100%) ;
        background-image: -webkit-gradient-radial-gradient(30% 0, ellipsefarthest-corner, white, skyBlue),-webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(125,185,232,0.85) 15%,rgba(30,87,153,0.4) 60%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */;
      }
    img {  
      max-width: 340px;  
      height : auto;  
    }  
      #blog-title a { 
        color:white;
        text-shadow: 2px 2px 2px #333333;
      }
      .entry-title a { 
        color:white;
        background: none repeat scroll 0 0 white;
        box-shadow: 0 0 4px 4px white;
        text-shadow: 2px 2px 2px #333333;
      }
      .entry-title {
        padding: 7px;
      }
      h1{ 
        color:white;
        text-shadow: -1px 0 1px #ddd, 1px 0 2px #333;
      }
      
      h2{
        width:100%;
        color:white;
        text-shadow: -1px 0 1px #ddd, 1px 0 2px #333;
      }
      .entry-content {
        -moz-column-width:340px;
        column-width:340px;
        -webkit-column-width:340px;
        padding-bottom:50px;

      }
      #header{
        background: -moz-linear-gradient(top, rgba(214,249,255,0) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 56%, rgba(248,253,255,1) 59%, rgba(158,232,250,0.02) 99%, rgba(158,232,250,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,249,255,0)), color-stop(36%,rgba(255,255,255,1)), color-stop(56%,rgba(255,255,255,1)), color-stop(59%,rgba(248,253,255,1)), color-stop(99%,rgba(158,232,250,0.02)), color-stop(100%,rgba(158,232,250,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(214,249,255,0) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,1) 56%,rgba(248,253,255,1) 59%,rgba(158,232,250,0.02) 99%,rgba(158,232,250,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(214,249,255,0) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,1) 56%,rgba(248,253,255,1) 59%,rgba(158,232,250,0.02) 99%,rgba(158,232,250,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(214,249,255,0) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,1) 56%,rgba(248,253,255,1) 59%,rgba(158,232,250,0.02) 99%,rgba(158,232,250,0) 100%); /* IE10+ */
        background: linear-gradient(top, rgba(214,249,255,0) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,1) 56%,rgba(248,253,255,1) 59%,rgba(158,232,250,0.02) 99%,rgba(158,232,250,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d6f9ff', endColorstr='#009ee8fa',GradientType=0 ); /* IE6-9 */

      }
      #access{
        border-bottom: none;
      }
      #wrapper{
        background: -moz-linear-gradient(top, rgba(214,249,255,0) 0%, rgba(46,48,131,0) 90%, rgba(14,10,108,0.75) 96%, rgba(6,0,102,0.95) 99%, rgba(6,0,102,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,249,255,0)), color-stop(90%,rgba(46,48,131,0)), color-stop(96%,rgba(14,10,108,0.75)), color-stop(99%,rgba(6,0,102,0.95)), color-stop(100%,rgba(6,0,102,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(214,249,255,0) 0%,rgba(46,48,131,0) 90%,rgba(14,10,108,0.75) 96%,rgba(6,0,102,0.95) 99%,rgba(6,0,102,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(214,249,255,0) 0%,rgba(46,48,131,0) 90%,rgba(14,10,108,0.75) 96%,rgba(6,0,102,0.95) 99%,rgba(6,0,102,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(214,249,255,0) 0%,rgba(46,48,131,0) 90%,rgba(14,10,108,0.75) 96%,rgba(6,0,102,0.95) 99%,rgba(6,0,102,1) 100%); /* IE10+ */
        background: linear-gradient(top, rgba(214,249,255,0) 0%,rgba(46,48,131,0) 90%,rgba(14,10,108,0.75) 96%,rgba(6,0,102,0.95) 99%,rgba(6,0,102,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d6f9ff', endColorstr='#060066',GradientType=0 ); /* IE6-9 */
      }
      #primary{
        border:none;
      }
      .hentry{
        background-image: -moz-radial-gradient(50% 50% 0deg, ellipse closest-side, white, rgba(255, 255, 255, 0));
background: -moz-radial-gradient(center, ellipse contain, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 58%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(38%,rgba(255,255,255,1)), color-stop(58%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse contain, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(255,255,255,1) 58%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse contain, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(255,255,255,1) 58%,rgba(255,255,255,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse contain, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(255,255,255,1) 58%,rgba(255,255,255,0) 100%); /* IE10+ */
background: radial-gradient(center, ellipse contain, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(255,255,255,1) 58%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

      }
      #main {
        width:100%;
      }
      #content {
        width:100%;
      }
      #container{
        width:75%;
      }
      #subsidiary .sub-aside, #subsidiary a {
        color:white;
      }

      .archives {
        -moz-column-width:340px;
        column-width:340px;
        -webkit-column-width:340px;
      }
      .archives ul{ margin-left:0px;}
      .archives li span { float: right;}
      .archives li {
        border-bottom-color: #EEEEEE;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        color: #777777;
        font-size: 13px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding-bottom: 5px;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 5px;
      }
      .post-title {
        white-space: nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        overflow-x:hidden;
        overflow-y:hidden;
      }
      .mainpost {
       /* box-shadow: 0px 0px 4px #555, inset 0px 0px 4px #555;
        -moz-box-shadow: 0px 0px 4px #555, inset 0px 0px 4px #555;
        */
      }
/*
      blockquote{
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(250,250,250,1);
        background-image: -moz-radial-gradient(30% 0 0deg, ellipse farthest-corner, rgba(255,255,255,.7), rgba(255,255,255,1));
        background-origin: padding-box;
        background-position: 0 0;
        background-repeat: repeat;
        background-size: auto auto;
        -moz-border-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 0 15px 5px rgba(250,250,250,0.7), 0 0 15px 5px #CCCCCC inset;
        -moz-box-shadow: 0 0 15px 5px rgba(250,250,250,0.7), 0 0 15px 5px #CCCCCC inset;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
                

      }
*/
/*
blockquote { quotes: "\201C" "\201D"; } 
blockquote:before { content: open-quote; font-weight: bold; } 
blockquote:after { content: close-quote; font-weight: bold; } 
*/
blockquote{background:#f9f9f9;border-left:1em solid #eee;margin:1.5em 1em;padding:.5em 1em;quotes:"\201C""\201D";}
       blockquote:before{color:#808080;content:open-quote;font-size:4em;line-height:.1em;margin-right:.25em;vertical-align:-.4em;}
blockquote:after { content: close-quote; font-weight: bold; color:#808080;font-size:4em;line-height:.1em;margin-right:.25em;vertical-align:-.4em;} 
       blockquote :first-child{display:inline;}
       blockquote :last-child{display:inline;margin-bottom:0;}

